BLOG_APP_APP_ENV=development
BLOG_APP_PORT=8000

BLOG_APP_DATABASE__HOST=localhost
BLOG_APP_DATABASE__PORT=5432
BLOG_APP_DATABASE__NAME=dev_blog_db
BLOG_APP_DATABASE__USER=dev_blog_user
BLOG_APP_DATABASE__PASSWORD=Strong_password

BLOG_APP_REDIS__HOST=localhost
BLOG_APP_REDIS__PORT=6379
BLOG_APP_REDIS__DB=0
BLOG_APP_REDIS__USER_CACHE_TTL_MINUTES=5

BLOG_APP_RABBITMQ__HOST=localhost
BLOG_APP_RABBITMQ__PORT=5672
BLOG_APP_RABBITMQ__MANAGEMENT_PORT=15672
BLOG_APP_RABBITMQ__USER=guest
BLOG_APP_RABBITMQ__PASSWORD=guest
BLOG_APP_RABBITMQ__QUEUE=emails

BLOG_APP_SMTP__HOST=localhost
BLOG_APP_SMTP__PORT=1025
BLOG_APP_SMTP__USER=
BLOG_APP_SMTP__PASSWORD=
BLOG_APP_SMTP__FROM_EMAIL=no-reply@blog.local
BLOG_APP_SMTP__FROM_NAME="Blog App"
BLOG_APP_SMTP__USE_TLS=false

BLOG_APP_MAILPIT__SMTP_PORT=1025
BLOG_APP_MAILPIT__WEB_PORT=8025

BLOG_APP_S3__ENDPOINT_URL=http://localhost:9000
BLOG_APP_S3__PUBLIC_URL=http://localhost:9000
BLOG_APP_S3__REGION=ru-central1
BLOG_APP_S3__BUCKET=blog-media
BLOG_APP_S3__ACCESS_KEY=minioadmin
BLOG_APP_S3__SECRET_KEY=minioadmin

BLOG_APP_MINIO__API_PORT=9000
BLOG_APP_MINIO__CONSOLE_PORT=9001

BLOG_APP_JWT__ALGORITHM=HS256
BLOG_APP_JWT__ACCESS_TOKEN_EXPIRE_MINUTES=15
BLOG_APP_JWT__REFRESH_TOKEN_EXPIRE_MINUTES=1440
BLOG_APP_JWT__ACCESS_TOKEN_SECRET="access_super_secret_key_access_super_secret_key"
BLOG_APP_JWT__REFRESH_TOKEN_SECRET="refresh_super_secret_key_refresh_super_secret_key"
