BLOG_APP_ENV=development

BLOG_APP_DATABASE__HOST=localhost
BLOG_APP_DATABASE__PORT=5432
BLOG_APP_DATABASE__NAME=dev_blog_db
BLOG_APP_DATABASE__USER=dev_blog_user
BLOG_APP_DATABASE__PASSWORD=Strong_password
