BLOG_APP_ENV=development

BLOG_APP_DATABASE__HOST=localhost
BLOG_APP_DATABASE__PORT=5432
BLOG_APP_DATABASE__NAME=dev_blog_db
BLOG_APP_DATABASE__USER=dev_blog_user
BLOG_APP_DATABASE__PASSWORD=Strong_password

BLOG_APP_JWT__ALGORITHM=HS256
BLOG_APP_JWT__ACCESS_TOKEN_EXPIRE_MINUTES=15
BLOG_APP_JWT__REFRESH_TOKEN_EXPIRE_MINUTES=1440
BLOG_APP_JWT__ACCESS_TOKEN_SECRET="access_super_secret_key_access_super_secret_key"
BLOG_APP_JWT__REFRESH_TOKEN_SECRET="refresh_super_secret_key_refresh_super_secret_key"